__pycache__/
*.pyc
.mbox_to_imap_progress.txt
*.log
targets*.txt
.DS_Store
*.pst
pst-export/
pst-export.sav/
PST_Migration_Dokumentation.docx
PST_Migration_Dokumentation_*.docx
!PST_Migration_Dokumentation_anonymisiert*.docx
